---
import Layout from "../../layouts/Layout.astro";
import '../../styles/global.css'
import DashboardLayout from "@/components/dashboard-layout.tsx";
---

<Layout>
  <!-- Hydrate the entire sidebar layout on the client -->
  <DashboardLayout client:load>
    <div className="grid auto-rows-min gap-4 md:grid-cols-3">
      <div className="aspect-video rounded-xl bg-muted/50" />
      <div className="aspect-video rounded-xl bg-muted/50" />
      <div className="aspect-video rounded-xl bg-muted/50" />
    </div>
    <div className="min-h-screen flex-1 rounded-xl bg-muted/50 md:min-h-min" />
  </DashboardLayout>
</Layout>   