---
import '../styles/global.css'
import DarkModeInit from '../components/DarkModeInit.astro'
---

<html lang="en">
	<head>
		<DarkModeInit />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Settlr | About</title>
	</head>
	<body>
		<h1 class="flex justify-center items-center h-screen text-6xl">ABOUT PAGE</h1>
	</body>
</html>


