---
import '@/styles/global.css'
import DarkModeInit from '@/components/DarkModeInit.astro'
import { ModeToggle } from '@/components/darkmode-toggle'
---

<!doctype html>
<html lang="en">
	<head>
		<DarkModeInit />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Settlr</title>
	</head>
	<body>
		<slot />
		<div class="fixed bottom-5 right-5 z-50">
			<ModeToggle client:load />
		</div>
	</body>
</html>