---
import '../styles/global.css'
import DarkModeInit from '../components/DarkModeInit.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<DarkModeInit />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>